<a href="https://colab.research.google.com/github/Bhilarevijay/python/blob/main/OOPs_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print Hello World**

In [ ]:
#Print Hello World
print("HELLO WORLD")

HELLO WORLD

**Add two numbers**

In [ ]:
#add two numers
n= int(input("Enter your 1st number "))
m= int(input("Enter your 2nd number "))
num=n+m
print ("sum of {0} and {1} is {2}".format(n,m,num))

Enter your 1st number 5
Enter your 2nd number 3
sum of 5 and 3 is 8

**Find the square root**

In [ ]:
#Find the squareroot
n = int(input("Enter your number to calculate square root : "))
m = n**0.5
print("Square root is : " , m)

Enter your number to calculate square root : 81
Square root is :  9.0

**Find area of triangle**

In [ ]:
#area of triangle
s1 = int(input("Enter 1st side of triangle: "))
s2 = int(input("Enter 2nd side of triangle: "))
s3 = int(input("Enter 3rd side of triangle: "))
#semiperemiter
s = (s1+s2+s3)/2

#area
area = (s*(s-s1)*(s-s2)*(s-s3))**0.5
print("area of triangle is : ",area)

Enter 1st side of triangle: 3
Enter 2nd side of triangle: 4
Enter 3rd side of triangle: 5
area of triangle is :  6.0

**Swap two numbers**

In [ ]:
#swaping two numbers
n1 = int(input("first number : "))
n2 = int(input("second number : "))

#add n1 and n2 as n1
n1 = n1 +n2

#swapping
n2 = n1-n2
n1 = n1-n2

print("swapped numbers are \n n1: ",n1, "\n n2:",n2)

first number : 1
second number : 2
swapped numbers are
 n1:  2
 n2: 1

**Input a int (0-999) and print int entered is 1,2,3 digit number**

In [ ]:
n1 = int(input("Enter your number : "))

# for num < 10
if (n1<=9):
  print("Entered no. is 1 digit no. ")

# for num < 100
elif (n1<=99):
  print("Entered no. is 2 digit no. ")

# for num < 1000
elif (n1<=999):
  print("Entered no. is 3 digit no. ")

else :
  print("Entered no. is invalid ")

Enter your number : 9999
Entered no. is invalid

**Input 3 no.s and print the largest middle and smalest number**

In [ ]:
n1 = int(input("Enter your 1st number : "))
n2 = int(input("Enter your 2nd number : "))
n3 = int(input("Enter your 3rd number : "))

## we can give conditions in single line and call it
##        cond1: a>b and b>c and c>d

# 1st case
if (n1>n2 and n1>n3):
  print("Largest no. is ",n1)

  if (n2<n3):
    print("Middle no. is",n3,"\nSmallest no. is ",n2)

  else :
    print("Middle no. is",n2,"\nSmallest no. is ",n3)

# 2nd case
elif (n2>n1 and n2>n3):
  print("Largest no. is ",n2)

  if (n1<n3):
    print("Middle no. is",n3,"\nSmallest no. is ",n1)

  else:
    print("Middle no. is",n1,"\nSmallest no. is ",n3)

# 3rd case
elif (n3>n2 and n3>n1):
  print("Largest no. is ",n3)

  if (n2<n1):
    print("Middle no. is",n1,"\nSmallest no. is ",n2)

  else:
    print("Middle no. is",n2,"\nSmallest no. is ",n1)

Enter your 1st number : 5
Enter your 2nd number : 8
Enter your 3rd number : 1
Largest no. is  8
Middle no. is 5
Smallest no. is  1

**Write a program to check if the given no. is prime or not**

In [ ]:
#input from user
n1 = int(input("Enter your no. to check "))

#check no. is prime or not
count = 0
for i in range (2,n1):
  if (n1%i==0):
    count= count+1
  else:
    count=count

if (count>0):
    print(f"{n1} is prime no. \n{count} no.s divide {n1}")

else:
  print(n1,"is not prime no.")

Enter your no. to check 99
99 is prime no.
4 no.s divide 99

##TEMP##

In [ ]:
n1 = int(input("Enter your 1st number : "))
n2 = int(input("Enter your 2nd number : "))
n3 = int(input("Enter your 3rd number : "))

num=[n1,n2,n3]
num.sort()
print (num)

Enter your 1st number : 2
Enter your 2nd number : 9
Enter your 3rd number : 5
[2, 5, 9]

**Use function and print "Hello World"**

*   PARAMETERS
*   ARGUMENTS

In [ ]:
def greet (): ## this is called Signature of function
  print("Hello World")
greet()

Hello World

**Use function and give sum of two numbers and return function**

In [ ]:

def sum ():

  n1 = int(input("Enter your 1st number : "))
  n2 = int(input("Enter your 2nd number : "))
  num=n1+n2
  print(f"Addition of {n1} & {n2} is {num}")

  return num

**Program that receives two no. in a function and returns the result of all arithmetic operations**

In [ ]:
def cal(n1,n2):
  sum=n1+n2
  sub=n1-n2
  mul=n1*n2
  div=n1/n2
  mod=n1%n2
  return sum,sub,mul,div,mod

n1 = int(input("Enter your 1st number : "))
n2 = int(input("Enter your 2nd number : "))
result=cal(n1,n2)

print (f" sum of the no. is {result[0]} \n sub of the no. is {result[1]} \n mul of the no. is {result[2]} \n div of the no. is {result[3]} \n mod of the no. is {result[4]}")

Enter your 1st number : 100
Enter your 2nd number : 25
 sum of the no. is 125
 sub of the no. is 75
 mul of the no. is 2500
 div of the no. is 4.0
 mod of the no. is 0

**SCOPE OF VARIABLES**

In [ ]:
def scope():
  x=10 #LOCAL VARIABLE
  print("Inside def x = ",x)

x=20 #GLOBAL VARIABLE
print("Before fun call value of x ",x)
scope()
print("Value of x after fun call ",x)

Before fun call value of x  20
Inside def x =  10
Value of x after fun call  20

In [ ]:
def scope():
  global x
  x=10
  print("Inside def x = ",x)

x=20 #GLOBAL VARIABLE
print("Before fun call value of x ",x)
scope()
print("Value of x after fun call ",x)

Before fun call value of x  20
Inside def x =  10
Value of x after fun call  10

**VARIABLE LENGTH ARGUMENTS**

In [ ]:
def callfun(name,*data):   # * is args (VARIABLE ARGUMENTS)
  print(name)
  print(data)

callfun('Vijay',18,'Pune',456654654)

Vijay
(18, 'Pune', 456654654)

In [ ]:
def callfun(name,**data):  # ** is kwargs (KEYWORD VARIABLE ARGUMENTS)
  print(name)
  print(data)

callfun(name='Vijay',age=18,place='Pune',ph =456654654)

Vijay
{'age': 18, 'place': 'Pune', 'ph': 456654654}

In [ ]:
def callfun(name,**data):
  print(name)
  for i in data:
    print (f"{i} : {data[i]}")

callfun(name='Vijay',age=18,place='Pune',ph =456654654)

Vijay
age : 18
place : Pune
ph : 456654654

**Define count of odd and even no.s in a list**

In [ ]:
def odd_even (list_1):
  count1=0
  count2=0
  for num in list_1:
    if num%2==0:
      count1+=1

    else:
      count2+=1

  return count1,count2

list_1 = [10,12,23,45,63]

result = odd_even (list_1)
print (f" no. of odd no.s is {result[1]} \n no. of even no.s is {result[0]}")

 no. of odd no.s is 3
 no. of even no.s is 2

In [ ]:
def greet():
  print("Hello World")

greet()
print("Inside",__name__) # __name__ (special variable)

Hello World
Inside __main__

In [ ]:
def greet():
  print("Hello World")
  greet()

greet()

**Lambda Functions**

In [ ]:
greet = lambda:print("Hello World")
greet()

Hello World

In [ ]:
square = lambda a: a*a
result = square(5)
print("Result is : ",result)

Result is :  25

In [ ]:
sum = lambda a,b: a+b
result = sum(4,9)
print("Result is : ",result)

Result is :  13

**LIST Comprihensions**

In [ ]:
def square (lst):
  for i in lst:
    return i*2

l = [1,2,3,4,5]
sq=square(l)
print(sq)

2

In [ ]:
def square (l1):
  l2=[]
  for i in l1:
    l2.append (i*2)
  return l2

l1 = [1,2,3,4,5]
print(square(l1))

[2, 4, 6, 8, 10]

In [ ]:
# LIST COMPRENSION #
l1=[1,2,3,4,5]
l2=[i*2 for i in l1]
print(l2)

[2, 4, 6, 8, 10]

**Find even no.s in range(1,10)**

In [ ]:
l1=[i for i in range(1,10) if i%2 == 0]
print(l1)

[2, 4, 6, 8]

**Find the even no. which are divisible by 5 in range(1,100)**

In [ ]:
l1=[i for i in range(1,100) if i%5==0 and i%2==0 ]
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]